SECRET_KEY=ваш_секретный_ключ

ENGINE=django.db.backends.postgresql
NAME=имя_вашей_бд
USER=ваше_имя_пользователя
DB_PASSWORD=ваш_пароль_от_бд
HOST=127.0.0.1
PORT=5432

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
TELEGRAM_TOKEN_TG=ваш_токен_телеграм_бота
