# Секретные переменные окружения
.env

# Локальная база данных (у каждого разработчика своя)
*.sqlite3
db.sqlite3

# Папка виртуального окружения (весит много, качается через requirements.txt)
.venv/
venv/
env/

# Системные файлы кэша Python (мусор, который создает сам Питон)
__pycache__/
*.pyc

# Настройки среды разработки PyCharm
.idea/
